//- view.pug
extends ../partials/base.pug

block content
	div.page-header
		h1 Server Side JavaScript
	div.row
		div.col-md-3
			ul.list-group.topic-list
				each topic in topics
					li.list-group-item
						a(href='/topic/'+ topic.id)= topic.title
		div.col-md-9
			article.panel.panel-default
				div.panel-body
					if topic
						h3= topic.title
						hr
						div !{topic.description.replace(/\n/g,'<br />')}
						div.text-muted= 'by ' + topic.author
					else
						if whoami
							h3= 'Welcome! Hello, ' + whoami
						else
							h3 Welcome to My Page!
						hr
						| This is server side JavaScript tutorials.
						br
						| JavaScript, Node.Js, Express, MySQL
				div.panel-footer.text-center
					a.btn.btn-success(href='/topic') Topics
					| &nbsp;&nbsp;&nbsp;
					a.btn.btn-primary(href='/topic/add') Add
					if topic
						| &nbsp;&nbsp;&nbsp;
						a.btn.btn-warning(href='/topic/'+topic.id+'/edit') Edit
						| &nbsp;&nbsp;&nbsp;
						a.btn.btn-danger(href='/topic/'+topic.id+'/delete') Delete
block scripts
	